@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* General Styles */
body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.1;
  box-sizing: border-box;
}

/* Header and Footer */
.header,
.footer {
  height: 40px;
  font-family: "Source Sans 3", sans-serif;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001;
  flex-shrink: 0;
}

.header {
  line-height: 40px;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 650;
  top: 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.footer {
  font-weight: 350;
  font-size: 0.75rem;
  line-height: 1.2rem;
  text-align: center;
  bottom: 0;
}

/* Content Wrapper */
.content-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Menu Styles */
.menu {
  position: static;
  width: auto;
  min-width: 260px;
  max-width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  background: white;
  z-index: 1000;
  font-family: "Source Sans 3", sans-serif;
  overflow-y: auto;
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 400;
  left: 0;
}

.menu .subhead .subhead-light {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.menu .subhead-light {
  font-weight: 350;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 3px 20px 3px;
}

.menu .menuhead {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 550;
}

.menu-items .submenu {
  padding-left: 10px;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  transition: margin 0.3s ease-out;
}

#content-area {
  max-width: 100%;
  margin: 0 auto;
}

/* Content Body Styles */
.content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 90vw;
  margin: 0 auto;
  padding-right: 40px;
}

.work-text {
  width: 100%;
  max-width: 800px;
  text-align: left;
  margin-bottom: 10px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.9rem;
}

.image-caption {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}

.content-body img {
  max-width: 100%;
  max-height: calc(85vh);
  width: auto;
  height: auto;
  object-fit: contain;
  padding: 20px;
}

.video-container {
  width: 100%;
  max-width: 87vh;
  padding: 20px;
}

.video-container video {
  width: 100%;
  height: auto;
  max-height: 87vh;
  object-fit: contain;
}

/* Hamburger Icon */
.hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1002;
}

/* Responsive Styles */
@media (max-width: 860px) {
  body {
    font-size: 14px;
  }
  .content-wrapper {
    flex-direction: column;
  }

  .menu {
    position: fixed;
    left: -100%;
    top: 60px;
    bottom: 60px;
    min-width: 260px;
    max-width: 80%;
    transition: left 0.3s ease-out;
    transform: translateX(-100%);
  }

  .main-content {
    margin: 0;
    margin-left: 0;
  }

  .hamburger-icon {
    display: block;
  }

  body.home .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  body.home .main-content {
    margin-bottom: 60px;
  }

  .content-body {
    padding: 10px;
  }

  .work-text,
  .video-container {
    max-width: 100%;
  }
}

.menu.active {
  left: 0;
  transform: translateX(0);
}

body.work {
  display: block;
}
