@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1;
    box-sizing: border-box;
}

.header {
    background-color: white;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
    z-index: 1001; /* Ensure it's above other elements */
}

.menu {
    width: 250px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    background-color: transparent;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Ensure it's above other elements */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 6px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

#content-frame {
    flex-grow: 1;
    border: none;
    margin-left: 250px;
    width: calc(100% - 250px);
    /* Height will be set dynamically in JavaScript */
}

.floating-frame {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    padding: 10px;
    z-index: 1003;
}

.floating-frame a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    top: 20px;
    right: 20px; /* Changed from left: 20px to right: 20px */
    z-index: 1002;
}


@media (max-width: 768px) {
    .menu {
        transform: translateX(-100%);
    }
    
    .menu.active {
        transform: translateX(0);
    }
    
    .hamburger-icon {
        display: block;
    }
    
    #content-frame {
        margin-left: 0;
        width: 100%;
    }
}